body {
	overflow: none;
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: block;
	width: 810px;
	height: 560px;
	background-color: white;
}

.header {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	width: 800px;
	height: 100px;
	background-color: #009999;
}

.header h1 {
	color: white;
	font-size: 32px;
	font-family: Verdana;
	text-align: center;
}

.main {
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	border: 0px;
	width: 800px;
	height: 410px;
	background-color: #006363;
	padding-top: 10px;
}

.main h2 {
	font-size: 20px;
	font-family: Verdana;
	padding: 10px;
	padding-top: 0px;
	color: #FFAA00;
	text-align: center;
}

.nav {
	margin-top: -10px;
	width: 160px;
	height: 260px;
	float: left;
	background-color: #FFD073;
}

.nav p {
	font-size:20px;
	color: #A64B00;
	text-decoration: underline;
	font-family: Verdana;
	list-style: none;
	text-align: center;
	padding-bottom: 5px;
}

.paris {
	margin-top: -10px;
	width: 200px;
	height: 260px;
	float: right;
	background-color: #FFD073;
}

.paris p {
	font-size: 20px;
	color: #A64B00;
	font-family: Verdana;
	text-align: center;
	padding-bottom: 5px;
	margin: 0px;
	padding: 0px;
}

.description {
	width: 440px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.description2 {
	width: 780px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:5px;
}

.footer {
	width: 800px;
	height: 60px;
	padding-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #FFD073;
}

.footer p {
	margin-top: 3px;
	text-align: center;
	font-family: Verdana;
	color: #A64B00;
	font-size: 12px;
}